# Azure OpenAI
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=

# PostgreSQL Database
POSTGRES_CONN_STRING=

# Telegram bot settings
BOT_TOKEN=
WEBHOOK_URL=

# Berlin House Credentials
BERLINHOUSE_EMAIL=
BERLINHOUSE_PASSWORD=

# Model configurations
MODEL=
RERANKER_MODEL=
RERANKER_MODEL=
EMBEDDING_MODEL=

# LangSmith tracing
LANGSMITH_TRACING=
LANGSMITH_PROJECT=
LANGSMITH_API_KEY=

# Neo4j
NEO4J_URI=
NEO4J_USER=
NEO4J_PASSWORD=
DEFAULT_DATABASE=
GROUP_ID=

# Notion
NOTION_API_KEY=